body,
ul,
dl,
dd,
p {
    padding: 0;
    margin: 0;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration-line: none;
}

.flexBox {
    display: flex;
    width: 100%;
    height: 1020px;
    /* 解决页面左右多出部分,固定页面 */
    overflow-x: hidden;
    overflow-y: hidden;
}

.leftbox {
    flex: 1;
}

.leftbox_0 {
    display: flex;
}

.leftbox_1 {
    flex: 1;
    height: 1020px;
    background-color: rgb(29, 37, 39);
}

.leftbox_2 {
    flex: 2;
    background-color: rgb(34, 44, 60);
}

.rightbox {
    flex: 2;
    background-color: rgb(255, 255, 255);
}

.box3_1 {
    border-bottom: 1px solid rgb(230, 233, 236);
    height: 80px;
}

.massage {
    font-size: 24px;
    font-family: "ProximaNova";
    color: rgb(53, 64, 82);
    line-height: 1.2;
    text-align: left;
    padding-left: 30px;
    padding-top: 25px;
}

.box3_2 {
    display: flex;
}

.box3_2_1 {
    flex: 1;
    border-right: 1px solid rgb(230, 233, 236);
}

.box3_2_2 {
    flex: 2;
}

.userPhoto {
    position: absolute;
    top: 10px;
    right: 230px;
}

.userName {
    position: absolute;
    left: 1060px;
    top: 15px;
}

.admin {
    position: absolute;
    left: 1060px;
    top: 35px;
}

.dropdown {
    position: absolute;
    right: 60px;
    top: 25px;
}

.search {
    height: 70px;
    border-bottom: 1px solid rgb(230, 233, 236);
    position: relative;
}

.inputK {
    width: 85%;
    height: 30px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(229, 232, 238);
    border-radius: 4px;
    margin: 20px 20px;
}

.inputImg {
    position: absolute;
    top: 28px;
    right: 30px;
}

.inputImg:focus {
    outline: none;
}

.infor {
    height: 70px;
    border-bottom: 1px solid rgb(230, 233, 236);
}

.personal {
    position: relative;
}

.personalItr {
    height: 124.5px;
    border-bottom: 1px solid rgb(230, 233, 236);
    position: relative;
    /* overflow: hidden;
            text-overflow: ellipsis; */
}
.personalz{
    border-left:3px solid rgb(35, 153, 241) ;
}
.personalItr img {
    width: 20%;
    padding-left: 15px;
    padding-top: 10px;
}

.numb {
    position: absolute;
    right: 10px;
    top: 70px;
    width: 7%;
}

.content {
    font-size: 12px;
    font-family: "ProximaNova";
    color: rgb(88, 93, 104);
    line-height: 1.357;
    padding: 8px 30px 10px 5px;
}

.nameItr {
    font-size: 14px;
    font-weight: bold;
    font-family: "ProximaNova";
    color: rgb(35, 153, 241);
    line-height: 1.2;
    text-align: left;
    position: absolute;
    top: 10px;
    left: 70px;
}

.nameItr1 {
    font-size: 14px;
    font-weight: bold;
    font-family: "ProximaNova";
    color: rgb(88, 93, 104);
    line-height: 1.2;
    text-align: left;
    position: absolute;
    top: 10px;
    left: 70px;
}

.origin {
    font-size: 14px;
    font-family: "ProximaNova";
    color: rgb(181, 181, 181);
    line-height: 1.2;
    text-align: left;
    position: absolute;
    top: 30px;
    left: 70px;
}

.meter {
    font-size: 14px;
    font-family: "ProximaNova";
    color: rgb(127, 143, 164);
    text-align: right;
    position: absolute;
    top: 10px;
    right: 10px;
}

.Bessie_Berry {
    font-size: 18px;
    font-family: "ProximaNova";
    color: rgb(88, 93, 104);
    line-height: 1.2;
    text-align: left;
    padding-top: 20px;
    padding-left: 20px;
}

.infor {
    position: relative;
}

.toolBox img {
    width: 15%;
    position: absolute;
    right: 145px;
    top: 25px;
}

.Chatsoneof img {
    width: 18%;
    position: absolute;
    right: 5px;
    top: 25px;
}

.rightside {
    position: relative;
}

.rightside1 {
    height: 320px;
    border-bottom: 1px solid rgb(230, 233, 236);
    position: relative;
}
.rightside2 {
    
    position: relative;
}
.hang1 img {
    width: 7%;
    position: absolute;
    top: 30px;
    left: 25px;
}

.content-name {
    font-size: 16px;
    font-family: "ProximaNova";
    color: rgb(88, 93, 104);
    line-height: 1.2;
    text-align: left;
    position: absolute;
    top: 30px;
    left: 90px;
    font-weight: bold;
}

.AM {
    font-size: 14px;
    font-family: "ProximaNova";
    color: rgb(127, 143, 164);
    line-height: 2.571;
    text-align: right;
    position: absolute;
    top: 23px;
    left: 200px;
    font-weight: bold;
}

.content-box {
    font-size: 12px;
    font-family: "ProximaNova";
    color: rgb(88, 93, 104);
    line-height: 1.357;
    position: absolute;
    top: 60px;
    left: 90px;
}

.hang2 img {
    width: 7%;
    position: absolute;
    top: 150px;
    left: 25px;
}

.content-name1 {
    font-size: 16px;
    font-family: "ProximaNova";
    color: rgb(88, 93, 104);
    line-height: 1.2;
    text-align: left;
    position: absolute;
    top: 160px;
    left: 90px;
    font-weight: bold;
}

.AM1 {
    font-size: 14px;
    font-family: "ProximaNova";
    color: rgb(127, 143, 164);
    line-height: 2.571;
    text-align: right;
    position: absolute;
    top: 152px;
    left: 225px;
    font-weight: bold;
}

.content-box1 {
    font-size: 12px;
    font-family: "ProximaNova";
    color: rgb(88, 93, 104);
    line-height: 1.357;
    position: absolute;
    top: 190px;
    left: 90px;
}
.hang3 img {
    width: 7%;
    position: absolute;
    top: 50px;
    left: 25px;
}
.content-name2 {
    font-size: 16px;
    font-family: "ProximaNova";
    color: rgb(88, 93, 104);
    line-height: 1.2;
    text-align: left;
    position: absolute;
    top: 30px;
    left: 90px;
    font-weight: bold;
}
.AM2 {
    font-size: 14px;
    font-family: "ProximaNova";
    color: rgb(127, 143, 164);
    line-height: 2.571;
    text-align: right;
    position: absolute;
    top: 23px;
    left: 200px;
    font-weight: bold;
}
.content-box2 {
    font-size: 12px;
    font-family: "ProximaNova";
    color: rgb(88, 93, 104);
    line-height: 1.357;
    position: absolute;
    top: 60px;
    left: 90px;
}
.rightside2 {
   
    height: 400px;
    border-bottom: 1px solid rgb(230, 233, 236);
    position: relative;
}
.img-all{
    position: absolute;
    top: 260px;
    left: 90px;
    
}
.rightside3 {
    position: relative;
}
.Addicon{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(206, 208, 218);
    background-image: -moz-linear-gradient( 90deg, rgb(241,243,247) 0%, rgb(255,255,255) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(241,243,247) 0%, rgb(255,255,255) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(241,243,247) 0%, rgb(255,255,255) 100%);
    color: rgb(159, 169, 186);
    width: 40px;
    height: 40px;
    /* border-radius: 4px; */
    position: absolute;
    top:100px;
    left: 25px;
}
.textbox{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(223, 227, 233);
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    width: 455px;
    height: 40px;
    border-left: none;
    position: absolute;
    top:100px;
    left: 65px;
}
.textbox:focus{
    outline: none;
}

.leftbox_1 li{
padding-left: 40px;
padding-top: 20px;
}
 
.Menu {
    font-size: 12px;
    font-family: "ProximaNova";
    color: rgb(91, 103, 121);
    text-transform: uppercase;
    line-height: 3.333;
    text-align: left;
    position: absolute;
    left: 15px;
   
  }
  /* .leftbox_2{
      position: relative;
  } */
  .left-ul{
    position: relative;
  }
 dt img{
     position: absolute;
     right: 20px;
     top: 10px;

 }
 dd li{
     padding-top: 10px;
     padding-left: 15px;
    padding-top: 15px;
    
 }
dd li a {
    font-size: 12px;
    font-family: "ProximaNova";
    color: rgb(183, 192, 205);
    line-height: 2.571;
    text-align: left;
}
.lilist{
    padding-top: 50px;
}
li img{
    padding-right: 10px;
}
.Notification img{
    position: absolute;
    right: 10px;
    top:95px;
}
.Notification1{
    position: absolute;
    right: 10px;
    top:55px;
}
.AlertIcon1{
    position: absolute;
    right: 15px;
    top:95px; 
}
.progressbox{
    position: relative;
}
.Monthly_Goals {
    font-size: 12px;
    font-family: "ProximaNova";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    position: absolute;
    
    top:90px ;
    
  }
  .Monthly_Goals span{
      padding-left: 20px;
  }
  progress {
    
    width: 200px;
    height: 4px;
    position: absolute;
    top:130px ;
    left: 15px;
  }
  